# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# Config files don't belong in git...
env.json

# Output files
*.xml

# ESLint rules
.eslintrc

# CRC32 checksums
*.c32

# Text files
*.txt

# Log files
*.log
*.log*.gz
