{
    "all": {
        "s3": {
            "bucket": "",
            "objectPath": "",
            "options": {
                "accessKeyId": "",
                "secretAccessKey": ""
            }
        },
        "cdnHost": "",
        "rssPath": "",
        "dhammatalksHost": "",
        "listPath": "",
        "talksPath": "",
        "xmlTemplate": "rss.jade"
    },
    "development": {
        "crcFile": "test.c32",
        "pugPretty": true,
        "outputFile": "test.xml"
    },
    "production": {
        "crcFile": "evening.c32",
        "pugPretty": false,
        "outputFile": "evening.xml"
    }
}
